.page {
  text-align: center;
  margin-top: 1.5rem!important;
}
.form-login {
  width: 570px;
  display: inline-block;
  .title {
    font-family: inherit;
    margin-bottom: 0.5rem;
  }
  .register {
    color: #5cb85c;
    margin-bottom: 1rem;
    display: block;
  }
}
