.wrapper {
  background: #f3f3f3;
  padding: 1rem 0;
  position: absolute;
  bottom: -120px;
  margin-top: 3rem;
  width: 100%;
  .logo-font {
    vertical-align: middle;
    font-family: "Titillium Web", sans-serif;
    color: #5cb85c;
  }
  .attribution {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.8rem;
    color: #bbb;
    font-weight: 300;
    .author {
      color: #5cb85c;
    }
  }
}
