@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400");
:root {
  --primary: #373a3c;

  --default-layout-header-height: 56px;
  --default-layout-width: 1140px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: #373a3c;
  background-color: #fff;
}

.container {
  max-width: var(--default-layout-width);
  margin: 0 auto;
  padding: 0 15px;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--primary);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

.tag-default {
  background-color: #818a91;
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
li.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: none !important;
}
.error-messages {
  color: #b85c5c;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 40px;
  text-align: left;
  .error {
    list-style-type: disc;
  }
}

.btn-lg {
  float: right;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}
.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc !important;
  &:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad !important;
  }
  &:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad !important;
  }
}
.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c !important;
  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641 !important;
  }
  &:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #419641 !important;
  }
}

.btn-outline-secondary {
  color: #ccc !important;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;

  &:hover {
    color: #fff !important;
    background-color: #ccc;
    border-color: #ccc;
  }

  &:focus {
    color: #fff !important;
    background-color: #ccc;
    border-color: #ccc;
  }
}
.btn-outline-primary {
  color: #5cb85c !important;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;

  &:hover {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }

  &:focus {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
}
.btn-outline-danger {
  color: #b85c5c;
  background-image: none;
  background-color: transparent;
  border-color: #b85c5c;
  &:hover {
    color: #fff;
    background-color: #b85c5c;
    border-color: #b85c5c;
  }
  &:focus {
    color: #fff;
    background-color: #b85c5c;
    border-color: #b85c5c;
  }
}

.action {
  margin-left: 2px;
}
